.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-title {
  font-family: 'Pushster', cursive;
  margin-top: 1rem;
  color: antiquewhite;
  font-weight: 300;
  margin-bottom: 0;
  display: inline-block;
  font-size: 5rem;
  width: 50%;
  letter-spacing: 0.1em;
}
